.admin_notice {
  width: 100vw;
  height: 100vh;
  &-container {
    width: 100%;
    height: 100%;
    // background-color: black;
    // opacity: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    &-wrapper {
      width: 100%;
      height: 80%;
      padding: 0 5%;
      &-list {
        height: 80%;
        .items {
          border-bottom: #ffffff 1px solid;
          // border-radius: 8px;
          padding: 3%;
          margin-bottom: 5%;
          // background: radial-gradient(
          //   102.04% 362.09% at 33.88% 16.84%,
          //   rgba(255, 255, 255, 0) 0%,
          //   rgba(255, 255, 255, 0.8) 100%
          // );
          .items_head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2%;
            .title {
              font-family: "Pretendard-ExtraBold";
              font-weight: 800;
              font-size: 15px;
              line-height: 18px;
              color: #ffffff;
              margin-bottom: 2%;
            }
          }

          .content {
            font-family: "Pretendard-Light";
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #ffffff;
            text-align: left;
            display: flex;
            flex-direction: row;
            p {
              display: inline-block;
              width: 95%;
            }
            .rewrite {
              width: 16px;
              height: 24px;
              fill: #ffffff;
              // line-height: 24px;
              border-radius: 7px;
              // border: 1px solid#ffffff;
            }
            .rewrite:active {
              background-color: #ffffff;
            }
          }
        }
      }
      &-btn {
        position: fixed;
        height: 60px;
        width: 100%;
        bottom: 0;
        user-select: none; //텍스트 커서 없애기
        .modal_bnt {
          margin-right: 10%;
          margin-bottom: 5%;
          float: right;
          height: 50px;
          width: 50px;
          background-image: url("../AddMemberIcon.svg");
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          background-color: #4f4f4f;
          opacity: 100;
        }
      }
    }
  }
}
